/*
=============== 
Variables
===============
*/
:root {
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(210, 36%, 96%);
  --clr-grey-3: hsl(210, 22%, 49%);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --transition: all 0.3s linear;
  --radius: 0.25rem;
}
/*
=============== 
Global Styles
===============
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-2);
  color: var(--clr-grey-1);
  line-height: 1.5;
  /* font-size: 0.875rem; */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
}
p {
  color: var(--clr-grey-3);
}

/*
=============== 
Waldo project
===============
*/
/* 
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  [type=radio] + img {
    cursor: pointer;
  }
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }
 
.char-label{
    margin-right:20px;
}
.character-found-list p{
    display: inline;
}
.game-image-container{
    width: 100%;
    height: auto;
    position: relative;
} 

 */

main {
  width: 95vw;
  height: 100vh;
  margin: 0 auto;

}
header {
  margin-top: 2rem;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remaining-characters__title {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}
.remaining-characters__images img {
  width: 30px;
  height: 30px;
  margin-left: 0.7rem;
  float: right;
}
.remaining-characters-found {
  opacity: 0.35;
}
.game-image__container{
    position: relative;
}
.game-image__container img {
  width: 100%;
}
.game__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.game__header .timer{
  display: flex;
  align-items: center;
  padding:5px 0;
}
.game__header h3 {
  font-size: 1rem;
  color: hsl(209, 59%, 70%);
}
.game__header h2{
  font-size: 1.5rem;
}
.alert {
    text-align: center;
    border-radius: var(--radius);
    margin-bottom: 10px;
}
.alert-success {
    background-color: rgb(130, 223, 157);
}
.alert-danger {
    background-color: rgb(223, 130, 130);
}

.alert p{
    color:#fff;
    font-weight:bold;
}

.characters-modal{
    position: absolute;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, .2);
    max-width:180px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.characters-modal h4{
    font-size: 0.8rem;
    margin-bottom: 16px;
} 
.characters-selection img{
    width: 25px;
    height: 25px;
    margin: 0 10px;
}
.character-label{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.character-label p{
    font-size: 0.725rem;
    padding-left: 10px;
}